### IntelliJ ###
*.idea
*.iml
*.class

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Maven ###
target/
LLM Testing/repos_output/
LLM Testing/errors.txt
LLM Testing/failures.txt
LLM Testing/provided_failures.txt
LLM Testing/hidden_failures.txt
LLM Testing/Code-Testing/hidden_failures.txt
LLM Testing/Code-Testing/provided_failures.txt
LLM Testing/Code-Testing/errors.txt
.DS_Store
LLM Testing/assignment-1/src/main/java/nz/ac/auckland/se281/InsuranceSystem.java
LLM Testing/BenCam.zip
LLM Testing/Code-Testing/src/main/resources/NaturalLanguageContent.txt
LLM Testing/Code-Testing/src/main/resources/NaturalLanguageResponse.txt
LLM Testing/Code-Testing/src/main/resources/newNaturalLanguageErrorPrompt.txt
LLM Testing/Code-Testing/src/main/resources/newPrompt.txt
LLM Testing/Code-Testing/src/main/resources/response.txt
LLM Testing/Code-Testing/src/main/resources/t3_failures.txt
LLM Testing/Code-Testing/src/main/resources/t2_failures.txt
LLM Testing/Code-Testing/src/main/resources/t1_failures.txt
LLM Testing/assignment_template/assignment-1/src/main/java/nz/ac/auckland/se281/InsuranceSystem.java
LLM Testing/Code-Testing/src/main/resources/response.txt
LLM Testing/Code-Testing/src/main/resources/newPrompt.txt
LLM Testing/Code-Testing/src/main/resources/errors.txt
LLM Testing/Code-Testing/src/main/resources/content.txt
LLM Testing/Code-Testing/src/main/java/Task1CompilationFailureRequest.json
LLM Testing/assignment-1_Own-Progress/assignment-1_Initial-Commit.csv
*.json
!repos_config.json
*.csv
LLM Testing/assignment_template/assignment-1/src/main/java/nz/ac/auckland/se281/InsuranceSystem.java
